.osd {
  box-shadow: none;
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  -gtk-icon-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
  color: white;
}

.header-bar {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.14) 0%,
    rgba(0, 0, 0, 0.08) 40%,
    rgba(0, 0, 0, 0) 100%
  );
}
.controls {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 100%
  );
}
.header-and-controls {
  background:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.15) 5%,
      rgba(0, 0, 0, 0) 17%
    ),
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.23) 10%,
      rgba(0, 0, 0, 0) 35%
    );
}

#io-github-diegopvlk-Cine:backdrop .controls button,
#io-github-diegopvlk-Cine:backdrop .controls .heading,
#io-github-diegopvlk-Cine:backdrop scale {
  opacity: 0.66;
}

.start-page {
  color: #e5e5e5;
  background: linear-gradient(180deg, transparent 0%, #0c0c0e 100%);
}
.start-page button.suggested-action {
  background: #e5e5e5;
  color: black;
}
.start-page button.suggested-action:hover {
  background: white;
}
.start-page button {
  --accent-color: #e5e5e5;
  background: rgba(255, 255, 255, 0.15);
}
.start-page button:hover {
  background: rgba(255, 255, 255, 0.18);
}
.start-page button:active {
  transform: scale(0.98);
}
.osd button:hover:not(.close):not(.maximize):not(.minimize) {
  background: rgba(255, 255, 255, 0.17);
}
.osd button:active:not(.close):not(.maximize):not(.minimize) {
  background: rgba(255, 255, 255, 0.25);
}

.osd.controls button:disabled {
  -gtk-icon-shadow: 0px 1px 5px black;
}
.osd.controls button.flat.toggle:checked {
  background-color: white;
  color: black;
  -gtk-icon-shadow: none;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.osd.controls button.flat.toggle:checked:hover {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 1),
    inset 0 0 31px 0 white,
    0 0 0px 1px white;
}
.osd.controls button.flat.toggle:checked:active {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 1),
    inset 0 0 31px #c2c2c2,
    0 0 0px 1px #c2c2c2;
}

.osd.controls button.flat.toggle:focus-visible:checked {
  outline: 2px solid rgba(0, 0, 0, 0.45);
  outline-offset: -4px;
}

.osd.controls .time-separator {
  background-color: #ddd;
  opacity: 0.4;
  border-radius: 2px;
}

.osd popover:not(.chapter-popover) > contents,
.osd popover > arrow {
  border: 1px solid #212122;
  background: rgba(25, 25, 27, 0.95);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.33);
}

.cine-spinner {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  padding: 10px;
}

scale highlight,
scale > trough > slider {
  background-color: white;
}

scale > trough > slider {
  border-radius: 100%;
}

scale trough {
  background-color: rgba(255, 255, 255, 0.3);
}

scale mark {
  color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);
}

.first-label-bold popover modelbutton:first-child {
  font-weight: bold;
}

.time-elapsed {
  margin: 0 -7px;
  min-height: 26px;
}

.icon-indicator {
  -gtk-icon-size: 64px;
  -gtk-icon-shadow: 0px 1px 9px rgba(0, 0, 0, 0.66);
  color: white;
}

.drop-indicator {
  background-color: color-mix(
    in srgb,
    var(--window-bg-color) 80%,
    rgb(from currentColor r g b / calc(alpha * 0.87))
  );
  color: var(--accent-color);
  border-radius: 7px;
  border: 2px dashed currentColor;
  outline: 20px solid
    rgb(from var(--window-bg-color) r g b / calc(alpha * 0.87));
  transition: opacity 250ms ease-in-out;
  margin: 12px;
}

.popover-scrolled > contents scrollbar.vertical > range > trough > slider {
  min-height: 16px;
}

dialog:not(.shortcuts) preferencespage scrolledwindow viewport clamp {
  margin-top: -22px;
}

statuspage box {
  margin-top: 0px;
}

#options spinbutton {
  background: none;
  outline: none;
  padding: 0;
  font-weight: bold;
  box-shadow: none;
}

#options dropdown button * {
  background: none;
}

.chapter-popover label {
  padding: 7px 11px;
  margin-bottom: -7px;
}
.chapter-popover > contents {
  background: transparent;
}
.chapter-popover > contents picture,
.chapter-popover > contents label {
  border: 1px solid #212122;
  background: rgba(25, 25, 27, 0.95);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.33);
  border-radius: 13px;
}
.chapter-popover > contents picture {
  margin-bottom: 8px;
  border: none;
  box-shadow:
    0px 0px 5px 1px rgba(20, 20, 20, 0.5),
    0px 0px 0px 1px rgba(144, 144, 144, 0.2);
}

.options-menu-btn popover button,
.options-menu-btn popover spinbutton {
  min-height: 22px;
}

#playlist sheet {
  background: rgba(0, 0, 0, 0.75);
}
.playlist-list-view {
  background-color: transparent;
  padding-top: 1px;
  padding-bottom: 22px;
}
.playlist-list-view row {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  margin-right: 12px;
  margin-left: 12px;
  padding: 0;
}
.playlist-list-view row > box {
  transition: background-color 200ms ease-in-out;
  background-color: rgba(249, 249, 255, 0.12);
}
.playlist-list-view row > box:hover {
  background-color: rgba(249, 249, 255, 0.2);
}
.playlist-list-view row > box:active {
  background-color: rgba(249, 249, 255, 0.25);
}
.playlist-list-view row:first-child,
.playlist-list-view row:first-child > box {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.playlist-list-view row:last-child,
.playlist-list-view row:last-child > box {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.playing-item-playlist {
  background-image: linear-gradient(
    rgba(245, 245, 255, 0.2),
    rgba(245, 245, 255, 0.2)
  );
}

@media (prefers-contrast: more) {
  .osd popover:not(.chapter-popover) > contents,
  .osd popover > arrow,
  .chapter-popover > contents label {
    border: 1px solid var(--border-color);
  }
  .chapter-popover > contents picture {
    border: 1px solid rgba(255, 255, 255, 0.9);
  }
  .header-and-controls {
    background:
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.3) 5%,
        rgba(0, 0, 0, 0) 17%
      ),
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.46) 10%,
        rgba(0, 0, 0, 0) 35%
      );
  }
  #playlist sheet {
    background: rgba(0, 0, 0, 0.85);
  }
  .playlist-list-view row > box {
    transition: background-color 200ms ease-in-out;
    background-color: rgba(150, 150, 156, 0.28);
  }
  .playlist-list-view row > box:hover {
    background-color: rgba(150, 150, 156, 0.4);
  }
  .playlist-list-view row > box:active {
    background-color: rgba(150, 150, 156, 0.5);
  }
  .playlist-list-view row > box {
    box-shadow: 0 0 0 1px var(--border-color);
  }
}
